

.header {
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
 


}

.text-center {
    padding: 60px;
}

.navegador {
    padding: 20px;

}